06_mbed_cli_Hello_BluePill/.temp/
06_mbed_cli_Hello_BluePill/mbed/
06_mbed_cli_Hello_BluePill/mbed-STM32F103C8T6/
06_mbed_cli_Hello_BluePill/BUILD/
*.pyc
07_mbed_cli_os_Hello_BluePill/.temp/
07_mbed_cli_os_Hello_BluePill/BUILD/
07_mbed_cli_os_Hello_BluePill/mbed-STM32F103C8T6/.hg/
09_mbed_cli_nRF/.temp/
09_mbed_cli_nRF/BUILD/
09_mbed_cli_nRF/mbed/
09_mbed_cli_nRF/mbed-STM32F103C8T6/
09_mbed_cli_nRF/nRF24L01P/
libs/mbed/
*.log
08_mbed_cli_os_BluePill_Target/.temp/
08_mbed_cli_os_BluePill_Target/BUILD/
09_mbed_cli_nRF/mbed-os/
10_hello_servomotor/BUILD/
10_hello_servomotor/Servo/
11_servo_uart_control/BUILD/
11_servo_uart_control/Servo/
12_Hello_Ultrasound/Servo/
12_Hello_Ultrasound/.vscode/
